{%extends 'base.html'%}


{% block body %}
<div class="container">
    <h2 class="text-center">Все заявки</h2><br>
    <table class="table table-bordered table-responsive table_sort">
        <thead>
        <tr>
            <th class="table-dark text-center">Номер заявки</th>
            <th class="table-dark text-center">Создатель заявки</th>
            <th class="table-dark text-center">Наименование заявки</th>
            <th class="table-dark text-center">Адресована подразделению</th>
            <th class="table-dark text-center">Дата создания</th>
            <th class="table-dark text-center">Дата выполнения</th>
            <th class="table-dark text-center">Заявку выпонил</th>
            <th class="table-dark text-center " scope="col" colspan="2">Статус</th>
        </tr>
        </thead>
        <tbody>
        {%for el in data%}
        {% if el.Item.iscompleted %}
        <tr class="table-success">
            {% else %}
        <tr class="table-danger">
            {% endif %}

            <td class="align-middle text-center">{{el.Item.id}}</td>
            <td class="align-middle text-center">{{el.User.name}} {{el.User.lastname}}</td>
            <td class="align-middle text-center"><a href="/description/{{el.Item.id}}" data-toggle="tooltip"
                                                    data-placement="top" title="Подробнее"> {{el.Item.title}} </a></td>
            <td class="align-middle text-center">{{el.Division.name}}</td>
            <td class="align-middle text-center">{{el.Item.creation_date}}</td>
            <td class="align-middle text-center">{{el.Item.completion_date}}</td>
            <td class="align-middle text-center">{{el.Item.executor}}</td>


            {% if el.Item.iscompleted %}
            <td class="align-middle text-center">
                <i class="fas fa-angle-down display-4 text-success"></i>
            </td>

            {% else %}
            <td class="align-middle text-center">
                <i class="fas fa-times display-4 text-danger "></i>
            </td>
            {% endif %}
        </tr>

        <p>{{el.Item.iscopleted}}</p>
        {%endfor%}
        </tbody>
    </table>
</div>


{%endblock%}