{%extends 'base.html'%}


{% block body %}

<div class="container">

    <h2 class="text-center"> Пользователи </h2><br>
    <table class="table table-bordered">

        <tr>
            <th class="table-dark text-center">Id</th>
            <th class="table-dark text-center">Логин</th>
            <th class="table-dark text-center">Имя</th>
            <th class="table-dark text-center">Фамилия</th>
            <th class="table-dark text-center">Подразделение</th>
            <th class="table-dark text-center">Статус</th>
            <th class="table-dark text-center">Изменить/Удалить</th>
        </tr>

        {%for el in data%}
        <tr class="table-success">

            <td class="align-middle text-center">{{el.User.id}}</td>
            <td class="align-middle text-center">{{el.User.login}} </td>
            <td class="align-middle text-center"> {{el.User.name}} </a></td>
            <td class="align-middle text-center">{{el.User.lastname}}</td>
            <td class="align-middle text-center">{{el.Division.name}}</td>
            <td class="align-middle text-center">{{el.User.status}}</td>
            <td class="align-middle text-center">
            <a class="btn btn-primary" href="/edituser/{{el.User.id}}">Изменить</a>
                {%if el.User.status == 'Пользователь'%}
            <a class="btn btn-danger" href="/deluser/{{el.User.id}}">Удалить</a>
                {%endif%}
            </td>
         </tr>
        {%endfor%}

    </table>
</div>

{%endblock%}